<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<title>User Login</title>-->
    <!--<link rel="stylesheet" type="text/css" href="style/css/index.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
          <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--<div th:if="${loginErrorMsg!=null}" class="alert alert-warning col-md-8" th:text="${loginErrorMsg}">-->
    <!--no error message-->
<!--</div>-->
<!--<div>-->
<!--<form name="loginForm" action="doLogin" method="POST">-->
    <!--User Name: <input type="text" name="username" />-->
    <!--<br><br>-->
    <!--Password: <input type="password" name="password" />-->
    <!--<br><br>-->
    <!--I agree with terms and conditions:-->
    <!--<input type="checkbox" name="agree" unchecked />Agree-->
    <!--<br><br>-->
    <!--<input type="submit" value="Sign in" />-->
    <!--<input th:if="${session.authuser!=null}" type="submit" formaction="logout" value="Log out" />-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--<form name="signinForm" action="user-registration">-->
    <!--<input type="submit" value="Sign up" />-->
<!--</form>-->

<!--<ul>-->
    <!--<li th:each="user : ${session.users}" th:text="${user.userLogin} + ' ' + ${user.userRole} + ' ' + ${user.orders}"></li>-->
<!--</ul>-->
<!--</body>-->
<!--</html>-->