<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<html>-->
<!--<head>-->
    <!--<title>Order</title>-->
    <!--<link rel="stylesheet" type="text/css" href="style/css/index.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
                  <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
<!--</head>-->
<!--<body>-->
<!--<table>-->
    <!--<thead>-->
         <!--<tr>-->
              <!--<th>Item ID</th>-->
              <!--<th>Item Name</th>-->
              <!--<th>Item Price</th>-->
              <!--<th>Item Category</th>-->
         <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
        <!--<tr th:each="orderitem : ${session.orderitems}">-->
            <!--<td th:text="${orderitem.itemId}"></td>-->
            <!--<td th:text="${orderitem.itemName}"></td>-->
            <!--<td th:text="${orderitem.itemPrice}"></td>-->
            <!--<td th:text="${orderitem.itemCategory}"></td>-->
        <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->

<!--<form name="logoutForm" action="logout" method="POST">-->
    <!--<input type="submit" value="Log out" />-->
<!--</form>-->
<!--</body>-->
<!--</html>-->